.body {
    background-color: rgb(52, 152, 219); /* This sets the background color to the same shade of blue using RGB values */
}

h1{
text-align: center;
}
#homepic {
    display: block;
    margin: auto;
    width: 50%;
}
h3{
    text-align: center;
    text-decoration-line: underline;
}
h4{
    text-align: center;
    
}
.docDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  
  }
  
#docRes {
    width: 400px;
    height: 500px;
    
}

#founderPics {
    width: 400px;
    height: 400px;
    
}

.jPic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  
  }
  #jPhotoId {
    width: 400px;
    height: 500px;
    
}

carouselsTexts