.body {
    background-color: rgb(223, 106, 106); /* This sets the background color to the same shade of blue using RGB values */
}

h1{
text-align: center;
}
.red{
    color: red;
}
.white{
    color:white;
}
.blue{
    color: blue;
}

.main_photo{
      display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#homepic {
    /* display: block;
    margin: auto;
    width: 40%;
    height:500px
     */
    width: 400px;
    height: 500px;
}
h3{
    text-align: center;
    text-decoration-line: underline;
}
h4{
    text-align: center;
}

#nickName{
font-size: xx-large;
}
.docDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  
  }
  
#docSolo {
    width: 400px;
    height: 500px;
    
}

#founderPics {
    width: 400px;
    height: 400px;
     
    margin-left: 120px; ;
}
/* Media query to remove left margin on smaller screens */
@media screen and (max-width: 600px) {
    #founderPics {
        margin-left: 100px; /* Remove left margin */
        width:200px;
        height: 200px;
        
    }
}


.description {
    
    margin-left:auto;
    margin-right:auto;
    border: 2px solid black; /* Change the color and thickness as needed */
    padding: 10px; /* Optional: adds space between the text and the border */
    display: inline-block; /* Ensures the border wraps tightly around the text */
    width: fit-content;
    background-color: rgb(238, 241, 245);

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(0, 149, 255); /* Set the background color to red */

}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgb(15, 20, 143); /* Optional: change color on hover */
}


.jPic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  
  }
  #jPhotoId {
    width: 400px;
    height: 500px;
    
}


#aCoachPhotos{
    width:100px;
    height:150px;
    margin-left: 50px;
    margin-right: 50px;
}

#history{
    border: bold;
}

#navBar{
    background-color: rgb(49, 42, 42);
}

#backButton{
        display: flex;               /* Use flexbox layout */
        justify-content: center;     /* Center horizontally */
        align-items: center;         /* Center vertically (if needed) */
    
    background-color: rgb(49, 42, 42);
    
}

#pinDrop{
    text-size-adjust:50px;
}
